/* Proxima Nova Regular */
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima Nova Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Proxima Nova Semibold */
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima Nova Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Proxima Nova Bold */
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima Nova Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Proxima Nova Condensed Regular */
@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('../fonts/Proxima Nova Condensed Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Proxima Nova Condensed Semibold */
@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('../fonts/Proxima Nova Condensed Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}